.input-container {
  text-align: center;
  display: grid;
  grid-template-areas:
  "a b";
  grid-template-columns: 25% 8%;
  grid-template-rows: 3ch;
  justify-content: center;
}

.result-value {
  text-align: center;
  padding: 1ch;
}


.input-container input {
  border-radius: 0.375rem 0ch 0ch 0.375rem;
  border: 1px solid #c3c3c3;
}
.input-container select {
  border-radius: 0ch 0.375rem 0.375rem 0ch;
  border: 1px solid #c3c3c3;
}

@media (max-width: 799px) {
  .input-container {
    grid-template-columns: 60% 10%;
  }
}

@media (max-width: 425px) {
  .input-container {
    grid-template-columns: 50% 25%;
  }
}